 <head>
    <title>Battle</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css"/>
    <%# This will ensure the link to style.css will be correct wherever your app is located. source: https://stackoverflow.com/questions/12340335/loading-stylesheets-in-sinatra %>
  </head>

  <body>
      <h1 id="attack_h1"><%=@game.player_1.name.capitalize%> attacked <%=@game.player_2.name.capitalize%></h1>
      <h2 id="attack_h2"><a href="/play">OK</a></h2>
      <img src="https://bit.ly/2VzgnEm" id="attack_img">
  </body>