<form action="/names" method="post">
  <input type="text" name="p1" placeholder = "name: player 1">
  <input type="text" name="p2" placeholder = "name: player 2">
  <input type="submit" value="Submit">
</form>
